; fio-rand-read.job for fiotest

[global]
name=fio-rand-read
ioengine=libaio
direct=1
thread=1
buffered=0
size=100%
randrepeat=0
time_based
ramp_time=0
norandommap
refill_buffers
log_max_value=1
group_reporting
percentile_list=25.0:50.0:75.0:99.0
filename=/dev/nvme0n1


[file1]
;stonewall
bs=4k
iodepth=1
numjobs=4
rw=randread
runtime=20

