; fio-rand-write.job for fiotest

[global]
name=fio-mix
ioengine=libaio
direct=1
thread=1
buffered=0
size=10%
randrepeat=0
time_based
ramp_time=0
norandommap
refill_buffers
log_max_value=1
group_reporting
percentile_list=25.0:50.0:75.0:99.0
filename=/dev/nvme1n1


[file1]
bs=4k
iodepth=1
numjobs=4
rw=randrw
rwmixwrite=100
runtime=20
